@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 11, 17, 33; /* Dark blue */
  --background-end-rgb: 255, 255, 255; /* White */
  --transition-duration: 0.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 10, 20; /* Deeper blue */
    --background-end-rgb: 0, 0, 139; /* Darker blue */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input,
select,
textarea {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-start-rgb), 0.5);
  border-color: rgba(var(--background-start-rgb), 0.5);
}